body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    position: relative;
    z-index: 2;
}

.nav2 {
    position: relative;
    z-index: 1;
}

#productDetail {
    max-width: 600px;
    margin: 20px auto 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#productDetail h3 {
    margin: 10px 0;
}

#productDetail img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    box-sizing: border-box;
    object-fit: contain;
}

#productDetail * {
    margin: 0px;
}

#paginaProductos img {
    max-width: 20%;
    height: auto;
}

.empty-cart-message {
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}


.empty-cart-message a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.empty-cart-message a:hover {
    background-color: #666;
}